<h1>Show Article</h1>
<div>
    <p>
    <%= @article.votes.count%>
     <span>Created by: </span><%= @article.creator.name %><br/><br/>
        <%= @article.title %><br/><br/>
        <%= image_tag(@article.image) %><br/><br/>
        <%= @article.text %>
    </p>

   <%= voted_user %>
  
</div>
