<div class="columns is-centered">
  <div class="column is-4">
    <%= form_with model: @user do |f| %>
      <% if @user.errors.any? %>
        <div class="message is-danger">
          <div class="message-header">
          <p>
            <%= pluralize(@user.errors.count,'error')%> Prohibited this user from being created
          </p>
          </div>
            <ul>
              <%= @user.errors.full_messages.each do |error| %>
                <li class='has-text-centered'> <%= error %> </li>
              <% end %>
            </ul>
        </div>
      <% end %>
   
      <div class='field'>
        <p class='control has-icons-left'>
          <%= f.text_field :name, placeholder:'Username', class:'input mb-4' %>
          <span class='icon is-small is-left'>
            <i class='fa fa-user'></i>
          </span>
        </p>

        <p class='control has-icons-left'>
          <%= f.password_field :password, placeholder:'Password', class:'input mb-4' %>
          <span class='icon is-small is-left'>
            <i class='fa fa-unlock-alt'></i>
          </span>
        </p>

        <p class='control has-icons-left'>
          <%= f.password_field :password_confirmation, placeholder:'Confirm password', class:'input mb-4' %>
          <span class='icon is-small is-left'>
            <i class='fa fa-unlock'></i>
          </span>
        </p>
         <%= f.submit 'Submit', class:'button is-success is-pulled-right' %>
      </div>
    <%end%>
  </div>
</div>