  <% popular = Vote.popular %>
    <% popular.each do |vote| %>
    <div class="banner">
      <div class="banner-img">
        <%= image_tag(vote.article.image)%>
      </div>
      <div class="banner-body">
        <h5 class="banner-title"><%= vote.article.title %></h5>
        <p class="banner-text"><%= vote.article.text %>
        <small ><%= link_to 'Read more', article_path(vote.article)%></small></p>
      </div>
    </div>
  <%end%>
 
  <h1>All categoriess</h1>
  <% categories = Category.includes(:most_recent_article).all%>

  <% categories.each do |category|%>
  <ul>
  <%= link_to category.name %>
  <li>
    <%= category.most_recent_article&.title %><br/>
    <%= link_to image_tag(category.most_recent_article&.image), category_path(category) %>
    </li>
  </ul>
  <% end %>
