<!DOCTYPE html>
<html>
  <head>
    <title>Postspot</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice]%>
    <div class="notification is-danger has-text-white global-notification ">
      <p class="alert"><%= alert %></p>
    </div>
  <% end %>
  <% if flash[:alert]%>
    <div class="notification is-primary has-text-white global-notification ">
      <p class="alert"><%= alert %></p>
    </div>
  <% end %>


  <nav class="navbar bg-white">
    <div class="navbar-brand mr-6">
      <%= link_to root_path, class:"navbar-item" do %>
        <h1 class="title is-4"> PostSpot <span class="midot orange-color">&#183;</span></h1>
      <% end %> 

      <div class="navbar-burger burger" data-target="navbarExample">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id = "navbarExample" class="navbar-menu">
      <div class="navbar-start ml-6">
        <div class="field is-grouped level">
          <p class="control">
            <%= link_to 'Home', categories_path, class: ""%>
          </p>
          <% Category.all.each do |category|%>
            <p class="control">
              <%= link_to category.name, articles_path(:cat_id => category.id), class: '' %>
            </p>
          <% end %>       
        </div>
      </div>

      <div class="navbar-end">
        <div class="field is-grouped level">
          
        <% if session[:user_id].present? %>
          <p class="control">        
            <%= link_to logged_in_user, edit_user_path(session[:user_id]) ,class:"is-dark" %>
          </p>
          <p class="control">
            <%= link_to "New Article", new_article_path, class:"button has-text-white bg-coffee" %>
          </p>
          <p class="control">
            <%= link_to "Sign Out", sessions_path, class:"button has-text-white bg-coffee" %>
          </p>
        <% else%> 
          <p class="control">
            <%= link_to "Sign In", signin_path,  class:"button has-text-white bg-coffee" %>
          </p>
          <p class="control">
            <%= link_to 'Sign Up', new_user_path, class: "button has-text-white bg-coffee"%>
          </p>
        <%end%>       
        </div>
      </div>
    </div>
  </nav>
<div class ="wrapper">
    <%= yield %>
</div>
<footer>  <%= render './shared/footer' %> </footer>

  </body>
</html>
