<!DOCTYPE html>
<html>
  <head>
    <title>Postspot</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('fav_icon.png') %>
  </head>

  <body>
   <%= render './shared/navigation' %>
   <%= render './layouts/alert'%>
<div class ="wrapper">
    <%= yield %>
</div>
<footer>  <%= render './shared/footer' %> </footer>

  </body>
</html>
