<!DOCTYPE html>
<html>
  <head>
    <title>Postspot</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice]%>
    <div class="notification is-primary has-text-white global-notification mb-0">
      <p class="alert"><%= notice %></p>
    </div>
  <% end %>
  <% if flash[:alert]%>
    <div class="notification is-danger has-text-white global-notification mb-0">
      <p class="alert"><%= alert %></p>
    </div>
  <% end %>

 <%= render './shared/navigation' %>
<div class ="wrapper">
    <%= yield %>
</div>
<footer>  <%= render './shared/footer' %> </footer>

  </body>
</html>
